.navbar{
    /* background-color: #0A141C !important; */
    background-color: rgba(10,20,28,0.75) !important;
}

.navbar-item img{
    max-height: 3rem !important;
}

.nav-text{
    opacity: 0.5;
    transition: 0.3s;
}

.nav-text:hover{
    opacity: 1;
}

.navbar-item:hover{
    background-color: transparent !important;
}