.teamcard{
    margin: 5rem;
    transition: 0.5s;
}

.teamcard:hover{
    -webkit-transform: translateY(-0.5rem);
    transform: translateY(-0.5rem);
}

li{
    color: white !important;
}

.is-rounded{
    display: block !important;
    margin-left: auto !important;
    margin-right: auto !important;
}

@media screen and (max-width: 768px) {
    .mobile-special{
        font-size: 9vw !important;
    }
    .slick-arrow.slick-next {
        right: 50px;
    }
    .slick-arrow.slick-prev {
        left: 50px;
    }
  }

.slick-list{
    overflow: visible;
}

.slider{
    overflow: visible;
}

.slick-slide{
    opacity: 0.3;
    transition: 0.5s;
}

.slick-active{
    opacity: 1;
}

.slick-arrow{
    z-index: 1;
}

.slick-dots li button::before{
    color: white !important;
}