.scrolling-image-container {
    overflow: hidden;
    width: 100%;
    aspect-ratio: 1/1;
    border-radius: 20px;
  }

  @keyframes slide {
    0% {
      transform: translatey(0);
    }
    100% {
      transform: translatey(-50%);
    }
  }

  .scrolling-image {
    background: url("./../../../../images/scrollnew.png");
    background-size: contain;
    background-repeat: repeat-y;
    aspect-ratio: 0.3113006396588486;
    animation: slide 10s infinite linear;
  }

  /* @keyframes slide {
    0% {
      transform: translate(0);
    }
    100% {
      transform: translate(-3840px);
    }
  }

  .scrolling-image {
    background: url("./../../../../images/scrollnew.png") repeat-x;
    height: 750px;
    width: 7680px;
    animation: slide 3s linear infinite;
  } */