@media screen and (max-width: 768px) {
    .main-one{
        font-size: 10vw !important;
    }
    .main-two{
        font-size: 10vw !important;
        margin-top: -1rem !important;
    }
    .main-image{
        max-width: 98% !important;
        margin-left: 1% !important;
    }
    .title-res{
        font-size: 12vw !important;
    }
    .paragraph{
        margin-right: 0rem !important;
    }
    .paragraph-right{
        padding-left: 0rem !important;
    }
    .road-margin{
        max-width: 100% !important;
        margin-left: 10% !important;
    }
    .email-input{
        max-width: none !important;
    }
  }

.landing{
    background-image: url("./../../images/tree_dark.png");
    background-size: cover;
    background-position: center;
}

.main-top{
    font-weight: bold;
    color: white;
}
.main-one{
    font-size: 4rem;
    margin-top: 1rem;
    color: #FFCC54;
    font-weight: bold;
    letter-spacing: -0.1rem;
}
.main-two{
    font-size: 4rem;
    margin-top: -2rem;
    color: #FFCC54;
    font-weight: bold;
    letter-spacing: -0.1rem;
}

p{
    color: white;
}

.title-res{
    font-size: 3rem;
    color: white !important;
    font-weight: bold !important;
    margin-top: -2rem !important;
}

.yellow{
    color: #FFCC54 !important;
}

.subtitle{
    font-size: 1rem !important;
    color: white !important;
    font-weight: bold !important;
}

.main-para{
    color: #888888 !important;
}

.hero{
    background-color: #0A141C;
}

.card{
    background-color: rgba(0,0,0,0) !important;
}

.email-text{
    font-size: 2rem;
    color: #FFCC54;
    text-decoration: underline;
}

.center-container{
    width: 100%;
    padding-left: 20px;
    padding-right: 20px;
    max-width: 1200px !important;
}

.main-image{
    max-width: 100%;
}

.button{
    border-radius: 10px !important;
    border-width: 3px !important;
}

.is-warning{
    background-color: #FFCC54 !important;
}

.is-warning:hover{
    background-color: white !important;
    color: black !important;
}

html{
    scroll-behavior: smooth;
}

.email-input{
    border-radius: 10px !important;
    background-color: rgba(255,255,255,0.1) !important;
    border-color: rgba(255,255,255,0.1) !important;
    color: white !important;
    max-width: 400px !important;
}

.email-input::placeholder{
    color: rgba(255,255,255,0.5) !important;
}

.herobody{
    overflow: hidden !important;
}

.road-margin{
    max-width: 70%;
    margin-left: 15%;
}

.paragraph{
    margin-right: 6rem;
}

.paragraph-right{
    padding-left: 6rem;
}

.opacity{
    opacity: 0.5 !important;
}