@media screen and (max-width: 768px) {
    .main-one{
        font-size: 2rem !important;
    }
    .main-two{
        font-size: 2.8rem !important;
        margin-top: -1.5rem !important;
    }
    .main-image{
        max-width: 98% !important;
        margin-left: 1% !important;
    }
  }

.landing{
    background-image: url("./../../images/tree_dark.png");
    background-size: cover;
    background-position: center;
}

.main-top{
    font-weight: bold;
    color: white;
}
.main-one{
    font-size: 3.2rem;
    color: #FFCC54;
    font-weight: bold;
    letter-spacing: -0.1rem;
}
.main-two{
    font-size: 4.5rem;
    margin-top: -2.5rem;
    color: #FFCC54;
    font-weight: bold;
    letter-spacing: -0.2rem;
}

p{
    color: white;
}

.title{
    font-size: 3rem !important;
    color: white !important;
    font-weight: bold !important;
}

.subtitle{
    font-size: 1rem !important;
    color: white !important;
    font-weight: bold !important;
}

.main-para{
    color: #888888 !important;
}

.hero{
    background-color: #0A141C;
}

.card{
    background-color: rgba(0,0,0,0) !important;
}

.email-text{
    font-size: 2rem;
    color: #FFCC54;
}

.center-container{
    width: 100%;
    padding-left: 20px;
    padding-right: 20px;
    max-width: 1200px !important;
}

.main-image{
    max-width: 80%;
    margin-left: 20%;
}

.is-warning{
    background-color: #FFCC54 !important;
}

.is-warning:hover{
    background-color: white !important;
    color: black !important;
}
